*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient( black, rgb(0, 0, 46));
    height: 100vh;
}
h1{
    display: flex;
}
.titulo{
    font-weight: bold;
    color: rgba(1, 255, 255, 0.575);
    position: absolute;
    margin: 30px 35%;
    font-family: 'Times New Roman', Times, serif;
}

.imagem-titulo{
    height: 100px;
    width: 100px;
    margin: 10px 10px;
}

#entrada_texto , #saida_texto{
    border: 3px dashed rgba(77, 199, 255, 0.705);
    border-radius: 10px;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px ;
    height: 350px;
    width: 40%;
    padding: 10px;
}

#entrada_texto{
    background-color: rgba(95, 223, 255, 0.178);
    position: absolute;
    color: antiquewhite;
    margin-left: 100px ; 
}

#saida_texto{
    background-color: rgba(95, 223, 255, 0.075);
    margin-left: 50%;
    margin-top: 0px ;
}

.botoes{
    margin-top: 50px;
    text-align: center;
}

.botao{
    height: 50px;
    padding: 10px 55px 20px;
    margin-left: 25px;  
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

#criptografar{
    background-color: rgba(0, 67, 252, 0.267);
}

#descriptografar{
    background-color: rgba(255, 51, 0, 0.247);
}

#copiar{
    background-color: rgb(72, 59, 85);
}



